<footer >
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="container text-center">
            <p class="mb-1">&copy; 2025 EduPrime Coaching</p>
            <p class="mb-0">Email: contact@eduprime.in | Phone: +91-98765432XX</p>
        </div>
    </div>
</footer>