<nav class="navbar navbar-expand-md bg-white shadow-sm sticky-top border-bottom py-2 custom-navbar mb-2">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary d-flex align-items-center gap-1" href="#">
      <i class="fa-solid fa-user-graduate fa-lg"></i>
      <span><b>Edu</b>Prime</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-md-2">
        <li class="nav-item">
          <a class="nav-link custom-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning fw-semibold px-3 ms-md-2 enroll-btn" href="#admission">
            Enroll Now
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
